@import url("https://fontlibrary.org/face/beon");
@import url("https://fonts.googleapis.com/css?family=Bungee+Outline|Bungee+Hairline");
body {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
  font-family: 'BeonRegular';
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 7em;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 5em;
  }
}

h2 {
  text-align: center;
  font-size: 2em;
  font-family: 'Bungee Hairline';
  margin: 0;
  padding: 0;
}

p {
  text-align: center;
  font-size: 1em;
  font-family: 'Bungee Hairline';
  margin: 0;
  padding: 0;
}

form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

u {
  text-decoration: underline;
  -webkit-text-decoration-color: #8f63aa;
  /* Safari */
  text-decoration-color: #8f63aa;
}

table {
  display: block;
  margin: 10px auto;
  font-family: 'Bungee Hairline';
}

table td,
table th {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid grey;
}

iframe {
  display: block;
  margin: 10px auto;
  color: black;
  width: 560px;
  max-width: 100%;
  height: 340px;
}

.chat iframe {
  height: 300px;
  margin: 0px auto 10px auto;
}

.stream {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px auto;
  color: black;
  width: 560px;
  max-width: 100%;
}

.script {
  display: block;
  margin: 25px auto;
  padding: 5px;
  color: white;
  width: 560px;
  max-width: 100%;
  height: 340px;
  border: 1px solid grey;
  overflow: scroll;
  overflow-x: hidden;
}

.script p {
  font-family: "Courier New", Courier, monospace;
  text-align: left;
}

.script .centered {
  text-align: center;
}

.script .speech {
  margin: 0px 50px;
}

.centre-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0px;
}

.credits p {
  font-family: "Courier New", Courier, monospace;
  text-align: left;
}

.credits div {
  margin: 15px auto;
  overflow: auto;
  width: 50%;
  min-width: 400px;
}

.credits .left {
  margin-right: 10px;
  margin-bottom: 0px;
  float: left;
  width: 200px;
  height: 200px;
}

.credits .right {
  margin-left: 10px;
  margin-bottom: 0px;
  float: right;
  width: 200px;
  height: 200px;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logos img {
  max-height: 100px;
}

/* This will keep the footer at the bottom */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  height: 2.5rem;
  /* Footer height */
  color: white;
  text-align: center;
}

a {
  color: white;
}

.default .button {
  background-color: #8f63aa;
  font-family: 'BeonRegular';
  color: white;
  padding: 0px 32px;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  margin: 4px 20px;
  border: 2px solid #8f63aa;
  cursor: pointer;
}

.default .button span {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 16px 0px;
}

.default .button span + img {
  position: relative;
  opacity: 0;
  top: -3px;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 30px;
  width: 0px;
  margin: auto;
  vertical-align: middle;
}

.default .button:hover span {
  background-color: #8f63aa;
  color: white;
  padding-right: 15px;
}

.default .button:hover span + img {
  opacity: 1;
  right: 0;
  width: 30px;
}

.default h1 {
  color: #fff;
  text-align: center;
  -webkit-animation: glow-default 1s ease-in-out infinite alternate;
  animation: glow-default 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow-default {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #8f63aa, 0 0 40px #8f63aa, 0 0 50px #8f63aa, 0 0 60px #8f63aa, 0 0 70px #8f63aa;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ab65da, 0 0 40px #ab65da, 0 0 50px #ab65da, 0 0 60px #ab65da, 0 0 70px #ab65da, 0 0 80px #ab65da;
  }
}

@keyframes glow-default {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #8f63aa, 0 0 40px #8f63aa, 0 0 50px #8f63aa, 0 0 60px #8f63aa, 0 0 70px #8f63aa;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ab65da, 0 0 40px #ab65da, 0 0 50px #ab65da, 0 0 60px #ab65da, 0 0 70px #ab65da, 0 0 80px #ab65da;
  }
}

.track-8 .button {
  background-color: #1b4254;
  font-family: 'BeonRegular';
  color: white;
  padding: 0px 32px;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  margin: 4px 20px;
  border: 2px solid #1b4254;
  cursor: pointer;
}

.track-8 .button span {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 16px 0px;
}

.track-8 .button span + img {
  position: relative;
  opacity: 0;
  top: -3px;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 30px;
  width: 0px;
  margin: auto;
  vertical-align: middle;
}

.track-8 .button:hover span {
  background-color: #1b4254;
  color: white;
  padding-right: 15px;
}

.track-8 .button:hover span + img {
  opacity: 1;
  right: 0;
  width: 30px;
}

.track-8 h1 {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1b4254, 0 0 40px #1b4254, 0 0 50px #1b4254, 0 0 60px #1b4254, 0 0 70px #1b4254;
}

.track-1 .button {
  background-color: #559f91;
  font-family: 'BeonRegular';
  color: white;
  padding: 0px 32px;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  margin: 4px 20px;
  border: 2px solid #559f91;
  cursor: pointer;
}

.track-1 .button span {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 16px 0px;
}

.track-1 .button span + img {
  position: relative;
  opacity: 0;
  top: -3px;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 30px;
  width: 0px;
  margin: auto;
  vertical-align: middle;
}

.track-1 .button:hover span {
  background-color: #559f91;
  color: white;
  padding-right: 15px;
}

.track-1 .button:hover span + img {
  opacity: 1;
  right: 0;
  width: 30px;
}

.track-1 h1 {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #559f91, 0 0 40px #559f91, 0 0 50px #559f91, 0 0 60px #559f91, 0 0 70px #559f91;
}

.track-6 .button {
  background-color: #7e83a5;
  font-family: 'BeonRegular';
  color: white;
  padding: 0px 32px;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  margin: 4px 20px;
  border: 2px solid #7e83a5;
  cursor: pointer;
}

.track-6 .button span {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 16px 0px;
}

.track-6 .button span + img {
  position: relative;
  opacity: 0;
  top: -3px;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 30px;
  width: 0px;
  margin: auto;
  vertical-align: middle;
}

.track-6 .button:hover span {
  background-color: #7e83a5;
  color: white;
  padding-right: 15px;
}

.track-6 .button:hover span + img {
  opacity: 1;
  right: 0;
  width: 30px;
}

.track-6 h1 {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #7e83a5, 0 0 40px #7e83a5, 0 0 50px #7e83a5, 0 0 60px #7e83a5, 0 0 70px #7e83a5;
}

.track-7 .button {
  background-color: #51a1af;
  font-family: 'BeonRegular';
  color: white;
  padding: 0px 32px;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  margin: 4px 20px;
  border: 2px solid #51a1af;
  cursor: pointer;
}

.track-7 .button span {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 16px 0px;
}

.track-7 .button span + img {
  position: relative;
  opacity: 0;
  top: -3px;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 30px;
  width: 0px;
  margin: auto;
  vertical-align: middle;
}

.track-7 .button:hover span {
  background-color: #51a1af;
  color: white;
  padding-right: 15px;
}

.track-7 .button:hover span + img {
  opacity: 1;
  right: 0;
  width: 30px;
}

.track-7 h1 {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #51a1af, 0 0 40px #51a1af, 0 0 50px #51a1af, 0 0 60px #51a1af, 0 0 70px #51a1af;
}

.track-5 .button {
  background-color: #ba979e;
  font-family: 'BeonRegular';
  color: white;
  padding: 0px 32px;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  margin: 4px 20px;
  border: 2px solid #ba979e;
  cursor: pointer;
}

.track-5 .button span {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 16px 0px;
}

.track-5 .button span + img {
  position: relative;
  opacity: 0;
  top: -3px;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 30px;
  width: 0px;
  margin: auto;
  vertical-align: middle;
}

.track-5 .button:hover span {
  background-color: #ba979e;
  color: white;
  padding-right: 15px;
}

.track-5 .button:hover span + img {
  opacity: 1;
  right: 0;
  width: 30px;
}

.track-5 h1 {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ba979e, 0 0 40px #ba979e, 0 0 50px #ba979e, 0 0 60px #ba979e, 0 0 70px #ba979e;
}

.track-3 .button {
  background-color: #d2776c;
  font-family: 'BeonRegular';
  color: white;
  padding: 0px 32px;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  margin: 4px 20px;
  border: 2px solid #d2776c;
  cursor: pointer;
}

.track-3 .button span {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 16px 0px;
}

.track-3 .button span + img {
  position: relative;
  opacity: 0;
  top: -3px;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 30px;
  width: 0px;
  margin: auto;
  vertical-align: middle;
}

.track-3 .button:hover span {
  background-color: #d2776c;
  color: white;
  padding-right: 15px;
}

.track-3 .button:hover span + img {
  opacity: 1;
  right: 0;
  width: 30px;
}

.track-3 h1 {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #d2776c, 0 0 40px #d2776c, 0 0 50px #d2776c, 0 0 60px #d2776c, 0 0 70px #d2776c;
}

.track-2 .button {
  background-color: #b44f1f;
  font-family: 'BeonRegular';
  color: white;
  padding: 0px 32px;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  margin: 4px 20px;
  border: 2px solid #b44f1f;
  cursor: pointer;
}

.track-2 .button span {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 16px 0px;
}

.track-2 .button span + img {
  position: relative;
  opacity: 0;
  top: -3px;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 30px;
  width: 0px;
  margin: auto;
  vertical-align: middle;
}

.track-2 .button:hover span {
  background-color: #b44f1f;
  color: white;
  padding-right: 15px;
}

.track-2 .button:hover span + img {
  opacity: 1;
  right: 0;
  width: 30px;
}

.track-2 h1 {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #b44f1f, 0 0 40px #b44f1f, 0 0 50px #b44f1f, 0 0 60px #b44f1f, 0 0 70px #b44f1f;
}

.track-4 .button {
  background-color: #6d2f28;
  font-family: 'BeonRegular';
  color: white;
  padding: 0px 32px;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  margin: 4px 20px;
  border: 2px solid #6d2f28;
  cursor: pointer;
}

.track-4 .button span {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 16px 0px;
}

.track-4 .button span + img {
  position: relative;
  opacity: 0;
  top: -3px;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 30px;
  width: 0px;
  margin: auto;
  vertical-align: middle;
}

.track-4 .button:hover span {
  background-color: #6d2f28;
  color: white;
  padding-right: 15px;
}

.track-4 .button:hover span + img {
  opacity: 1;
  right: 0;
  width: 30px;
}

.track-4 h1 {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #6d2f28, 0 0 40px #6d2f28, 0 0 50px #6d2f28, 0 0 60px #6d2f28, 0 0 70px #6d2f28;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  padding-top: 300px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  width: 80%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1.0s;
  animation-name: animatetop;
  animation-duration: 1.0s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #8f63aa;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #8f63aa;
  color: white;
}
/*# sourceMappingURL=style.css.map */